.servicesSection {
    padding: 4rem 2rem;
    background-color: var(--background-body);
    color: var(--font-main-color);
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.8);
}

.servicesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.serviceCard {
    background-color: var(--main-color);
    border: 1px solid var(--third-color);
    border-radius: 8px;
    padding: 1.5rem;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.serviceCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.serviceTitle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--third-color);
}

.serviceDescription {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.87);
}

.serviceLink {
    font-size: 1rem;
    color: var(--third-color);
    text-decoration: none;
    border: 1px solid var(--third-color);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.serviceLink:hover {
    background-color: var(--third-color);
    color: var(--main-color);
}

.seeAllServices {
    margin-top: 3rem;
}

.seeAllButton {
    font-size: 1rem;

}

@media (width > 1200px) {

    .servicesSection {
        max-width: 1200px;
    }

    .servicesGrid {
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    }

}



/* Service Card */

.card {
    background: linear-gradient(15deg, var(--scroll-base), var(--second-color-darker));
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--font-main-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 1rem;
}

.card:hover {
    transform: translateY(-5px);
    border: 1px solid var(--third-color);
    box-shadow: 0px 8px 20px rgba(30, 1, 54, 0.6);
}


.titleCard {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionCard {
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.75);

}

.linkCard {
    font-size: 1rem;
    padding: 0.2rem 1rem;
    width: fit-content;
}