:root {
  color: var(--font-main-color);
  --main-color: #080a14;
  --second-color: #261172;
  --second-color-darker: #1f0f5b;
  --third-color: #0d9e73;
  --third-color-darker: #0a7e5d;
  --third-color-rgb: rgb(20, 255, 180);
  --font-main-color: #eaedf7;
  --font-main: var(--font-titillium-web);
  --font-secondary: var(--font-roboto-mono);
  background-color: var(--main-color);
  --scroll-base: #0c151c;
  --negro-oscuro: #202b38;
  --scroll-hover: #040a0f;
  --scrollbar-thumb: var(--scroll-hover);
  --scrollbar-thumb-hover: rgb(0, 0, 0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-main), sans-serif;
  line-height: 1.6;
  color: var(--font-main-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 997;
  background: url(../../public/blurry-header.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--second-color);

}

main {
  margin-top: 100px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-titillium-web);
  font-weight: 700;
}

p,
code,
pre,
.monospace {
  font-family: var(--font-roboto-mono);
}


footer {
  background: hsla(253, 72%, 21%, 1);
  background: radial-gradient(circle, hsla(253, 72%, 21%, 1) 0%, hsla(207, 58%, 4%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(253, 72%, 21%, 1) 0%, hsla(207, 58%, 4%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(253, 72%, 21%, 1) 0%, hsla(207, 58%, 4%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#1F0F5B", endColorstr="#040A0F", GradientType=1);

  border-top: 1px solid var(--third-color-darker);

}



::-webkit-scrollbar {
  width: 10px;
  background-color: var(--background-body);
}

/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-base);
  border-radius: 10px;
}

/* Estilo de la punta de la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-hover);
}

/* Estilo cuando se está arrastrando la barra de desplazamiento */
::-webkit-scrollbar-thumb:active {
  background-color: #111111;
}